body {
  font-family: "Hiragino Sans GB", "微软雅黑", "Helvetica Neue", Helvetica, Arial, sans-serif;

  padding: 20px;
}

.bookshelf-has-flag {
  margin-left: 30px;

  &.bookshelf-has {
    color: green;
  }

  &.bookshelf-has-not {
    color: #ed6c00;
  }
}



// popup 页面的样式修饰
.popup-page {
  width: 400px;
}

// options 页面的样式修饰
.options-page {
}
//
